*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', 'Open Sans', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}
header, footer{
    background-color: #1f2937;
}
.top-header{
    display: flex;
    margin-top: 20px;
}
ul{
    list-style: none;
    margin-left: auto;
    display: flex;
    font-size: 18px;
    gap: 15px;
    color: #e5e7eb;
}
.top-header img{
    width: 40px;
    height: 40px;
    border-radius: 2px solid #1f2937;
    border-radius: 50%;
    margin-top: 10px;
}
.head{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
    padding-bottom: 60px;
    max-width: 80%;
}
header h3{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}
header p{
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}
.low-header{
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.minor-text{
    width: 550px;
    height: 200px;
    background-image: url(image/Pressing.jpg);
    background-repeat: no-repeat;
    background-size: 550px 200px;
    flex: 0 1 550px;
}
.main-text{
    flex: 0 1 400px;
}
.btn{
    margin: 1em 0;
    padding: .5em;
    color: #e5e7eb;
    background-color: #3882f6;
    border: 2px solid #3882f6;
}
section{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.A-section{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    max-width: 80%;
}
#info{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-bottom: 20px;
    text-align: center;
}
.gallery{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 0 1 0;
}
.card img{
    width: 240px;
    height: 100px;
}

.B-section{
    background-color: #e5e7eb;
    padding: 80px;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
}
.body{
    max-width: 80%;
    margin: auto;
}
.body h5{
    text-align: right;
    margin: 0;
}
.C-section{
    background-color: #3882f6;
    font-size: 36px;
    color: #ffffff;
    font-size: 15px;
    max-width: 100%;
    margin: 20px auto;
    padding: 30px 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    border:2px solid #3882f6;
    border-radius: 10px;
}
.C-section h4, p{
    margin: 0;
    padding: 0px;
}
.cta-text{
    flex: 1 0 150px;
}
button{
    flex: 0 1 120px;
    max-height: 40px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    margin: 0;
    font-size: 15px;
    border-radius: 10px;
}
footer{
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    color: #e5e7eb;
}